/* header */
.btn {
    border-radius: 20px;
    background-color: var(--blue-color);
}

.btn:hover {
    color: var(--white-coler);
    background-color: var(--gray-color);
}

.nav-item {
    margin-right: 10px;
}