<footer>
    <div class="logo">
        <a href="">Logo</a>
    </div>
    <div class="footer-collapse">
        <a href="">Trang Chủ</a>
        <a href="">Giới Thiệu</a>
        <a href="">Liên Hệ</a>
    </div>
    <div class="footer-link">
        <button><i class="fab fa-facebook-f"></i></button>
        <button><i class="fab fa-twitter"></i></button>
        <button><i class="fab fa-google"></i></button>
    </div>
</footer>