<div class="img-about" style="background-image: url('img/bg-01.jpg');">
    <h1>Liên Hệ</h1>
</div>
<div class="from-contact-map container">
    <div class="form-contact">
        <h2>Gửi tin nhắn cho chúng tôi</h2>
        <form method="post" action="/contact/opinion">
            <div class="form-group-email">
                <i class="far fa-envelope"></i>
                <input type="email" id="email" name="email" placeholder="Nhập Email Của Bạn Vào">
            </div>
            <div class="form-group-describe">
                <textarea type="text" id="title" name="title"
                    placeholder="Bạn Có Thắc Mắc Gì Với Chúng Tôi?"></textarea>
            </div>
            <button type="submit" class="btn-submit">SUBMIT</button>
        </form>
    </div>
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29793.980453103963!2d105.81636405641532!3d21.022778419324336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab9bd9861ca1%3A0xe7887f7b72ca17a9!2zSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1698151573510!5m2!1svi!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</div>